.results {
    width: 750px;
    height: 350px;

    &__text {
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__sentence {
        text-align: center;
        font-size: 50px;
    }

    &__buttons {
        padding-top: 40px;
    }

    &__btn {
        width: 250px;
        height: 50px;
        text-align: center;
        background-color: #23B6E4;
        border-radius: 10px;
        cursor: pointer;
        margin: 0 auto;
        display: block;
        border: none;
        margin-top: 70px;
        font-size: 30px;
        font-weight: 500;
        transition: all 0.4s ease;

        &:hover {
            transform: scale(1.15);
            background-color: #079BCA;
        }
    }
}

.contact__btn {
    width: 170px;
    height: 40px;
    text-align: center;
    background-color: #e1ff00;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 5px;
    transition: all 0.4s ease;
    
    &:hover {
        transform: scale(1.15);
        background-color: #079BCA;
    }
}

@media (max-width: 755px) {
    .results {
        width: 550px;
        height: 250px;
        &__sentence {
            font-size: 40px;
        }

        &__text {
            height: 200px;
        }
    }
}

@media (max-width: 555px) {
    .results {
        width: 250px;
        height: 100px;

        &__sentence {
            font-size: 20px;
        }

        &__text {
            height: 100px;
        }

        &__btn {
            width: 100px;
            font-size: 11px;
            height: 30px;
        }
    }

    .contact__btn {
        margin-top: 10px;
        width: 100px;
        height: 30px;
        font-size: 11px;
        padding: 0 10px;
    }
}